.container{
  display: flex;
  flex-direction: row;
}

input {
  
  width: 30%;
  height: 5vh;
  margin-bottom: 2vh;
}

.name{
  margin-left: 13vh;
}
.user{
  margin-left: 9vh;
}
.city{
  margin-left: 15.6vh;
}
.company{
  margin-left: 3vh;
}